<div   class="card d-flex justify-content-between pt-5 pb-5 flex-wrap" style="width: 18rem;">
  <img [src]="product ? product.imageUrl[0] : '/assets/images/products/robe_1/1.webp'"
       height="300px"
       width="300px"
       class="card-img-top" alt="product.name">
  <div class="card-body">
    <h5 class="card-title">{{product?.name}}</h5>
    <p class="card-text">{{product?.description}}</p>
    <p class="card-text">{{product?.created_at | date}}</p>
    <p class="card-text">{{product?.sold_price |currency:'EUR':true}}</p>
    <p class="card-text">{{product?.regular_price |currency:'EUR':true}}</p>
    <p class="card-text">{{product?.updated_at | date}}</p>
    <a href="#" class="btn btn-primary">Découvrir</a>
  </div>
</div>
