 <div class="container">
<div class="signup">
  <h2>Inscription</h2>
  <div class="form-inline">
    <form [formGroup]="userGroup">
    <div class="form2">
      <label for="prenom">Prénom</label>
      <input id="prenom" type="text" formControlName="firstname"/>
      <label for="nom">Nom</label>
      <input id="nom" type="text" formControlName="lastname"/>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email"/>
      <label for="motDePasse">Mot de passe</label>
      <input id="motDePasse" type="password"  formControlName="password"/>
      <label for="confirmeMDP">Confirmez le mot de passe</label>
      <input id="confirmeMDP" type="password"  formControlName="confimreMDP"/>
    </div>
    <button type="submit" (click)="onSubmitForm()">S'inscrire</button>
    </form>
  </div>
</div>
 </div>
